NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_YW11c2VkLWZsYW1pbmdvLTY3LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_7NudCf4OXxaTF6N4kzQXVBgD9ssdwHET8fhDqCYMHV
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/agency/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/agency/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/
DB_USERNAME=postgres.rtyyhjjesodmekfylqad
DB_PASSWORD=

NEXT_PUBLIC_URL=http://localhost:3000/
NEXT_PUBLIC_DOMAIN=localhost:3000
NEXT_PUBLIC_SCHEME=http://

UPLOADTHING_SECRET=sk_live_f9718ea0dbdeeac6736c6953c9d1719302cec6bd8e818d6f3a28ae9fef64e92c
UPLOADTHING_APP_ID=b8ea613nti

NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51PEoThSJQD4Lfnccky9MmBIqTdIFEfK4oE3dTNBAmgPXTSbMpgIRiT3AUwyJkVrQcJRxrqwEriwtEX5QZ54N0qTI000hXndVGx
STRIPE_SECRET_KEY=sk_test_51PEoThSJQD4LfnccaHnZbtYOCsgSTNEaONFnKC2pGg4dgdLiD6M4XvIWUAg0lQVqE5ck8cZSW7vPKNjVEGFl18Vx00gBXWd5dt
STRIPE_WEBHOOK_SECRET=whsec_91de0c7d82a2bd9f090866481032533f38613bf6eaad68021a166af7bf681df5
NEXT_PUBLIC_STRIPE_CLIENT_ID=ca_Q4yTvrwKGdlM0INhC6z9cOHkObWuU1uR
NEXT_PUBLIC_PLATFORM_SUBSCRIPTION_PERCENT=1
NEXT_PUBLIC_PLATFORM_ONETIME_FEE=2
NEXT_PUBLIC_PLATFORM_AGENY_PERCENT=1
NEXT_PLURA_PRODUCT_ID=prod_Q6fK01BHA1alpX
DATABPASE_PASSWORD=test@test.com


# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL=postgres://postgres.gsegeveoactalbwecymn:test@test.com@aws-0-us-east-1.pooler.supabase.com:5432/postgres
PROD_DATABASE_URL=postgres://postgres.gsegeveoactalbwecymn:test@test.com@aws-0-us-east-1.pooler.supabase.com:5432/postgres
LOCAL_DATABASE_URL=postgres://postgres.gsegeveoactalbwecymn:test@test.com@aws-0-us-east-1.pooler.supabase.com:5432/postgres
# https://www.builder.io/c/docs/using-your-api-key
NEXT_PUBLIC_BUILDER_API_KEY=
